assignment_data_files/*
flink-1.4.2/.DS_Store
flink-1.4.2/bin/.DS_Store
flink-1.4.2/bin/build.sh
flink-1.4.2/bin/config.sh
flink-1.4.2/bin/console-log.txt
flink-1.4.2/bin/flink
flink-1.4.2/bin/flink-daemon.sh
flink-1.4.2/bin/flink.bat
flink-1.4.2/bin/historyserver.sh
flink-1.4.2/bin/MANIFEST.MF
flink-1.4.2/bin/mesos-appmaster-flip6-job.sh
flink-1.4.2/bin/mesos-taskmanager-flip6.sh
flink-1.4.2/bin/MostPopularAircraftTypes.java
flink-1.4.2/bin/output.jar
flink-1.4.2/bin/MostPopularAircraftTypesBad.java
flink-1.4.2/bin/pyflink.bat
flink-1.4.2/bin/output3.jar
flink-1.4.2/bin/pyflink.sh
flink-1.4.2/bin/start-local.sh
flink-1.4.2/bin/start-local.bat
flink-1.4.2/bin/stop-zookeeper-quorum.sh
flink-1.4.2/bin/mesos-taskmanager.sh
flink-1.4.2/conf/flink-conf.yaml
flink-1.4.2/bin/yarn-session.sh
flink-1.4.2/conf/log4j-cli.properties
flink-1.4.2/conf/log4j-console.properties
flink-1.4.2/conf/logback-yarn.xml
flink-1.4.2/conf/logback.xml
flink-1.4.2/examples/batch/ConnectedComponents.jar
flink-1.4.2/examples/batch/KMeans.jar
flink-1.4.2/examples/batch/WebLogAnalysis.jar
flink-1.4.2/examples/batch/PageRank.jar
flink-1.4.2/bin/mesos-appmaster-flip6-session.sh
flink-1.4.2/conf/logback-console.xml
flink-1.4.2/examples/batch/WordCount.jar
flink-1.4.2/examples/python/__init__.py
flink-1.4.2/examples/python/TriangleEnumeration.py
flink-1.4.2/examples/python/WebLogAnalysis.py
flink-1.4.2/examples/streaming/SocketWindowWordCount.jar
flink-1.4.2/examples/streaming/TopSpeedWindowing.jar
flink-1.4.2/examples/streaming/WordCount.jar
flink-1.4.2/lib/flink-metrics-dropwizard-1.4.2.jar
flink-1.4.2/examples/streaming/SessionWindowing.jar
flink-1.4.2/examples/streaming/Twitter.jar
flink-1.4.2/resources/python/flink/functions/KeySelectorFunction.py
flink-1.4.2/resources/python/flink/functions/JoinFunction.py
flink-1.4.2/resources/python/flink/functions/GroupReduceFunction.py
flink-1.4.2/resources/python/flink/functions/FlatMapFunction.py
flink-1.4.2/resources/python/flink/functions/MapFunction.py
flink-1.4.2/resources/python/flink/functions/RuntimeContext.py
*.py
flink-1.4.2/opt/flink-cep-scala_2.11-1.4.2.jar
flink-1.4.2/opt/flink-cep_2.11-1.4.2.jar
flink-1.4.2/opt/flink-gelly-scala_2.11-1.4.2.jar
flink-1.4.2/opt/flink-gelly_2.11-1.4.2.jar
flink-1.4.2/opt/flink-metrics-datadog-1.4.2.jar
flink-1.4.2/opt/flink-metrics-graphite-1.4.2.jar
flink-1.4.2/opt/flink-metrics-dropwizard-1.4.2.jar
flink-1.4.2/opt/flink-metrics-prometheus-1.4.2.jar
flink-1.4.2/lib/slf4j-log4j12-1.7.7.jar
flink-1.4.2/lib/metrics-core-3.1.5.jar
flink-1.4.2/opt/flink-metrics-slf4j-1.4.2.jar
flink-1.4.2/lib/log4j-1.2.17.jar
flink-1.4.2/lib/flink-training-exercises-0.15.1.jar
flink-1.4.2/lib/flink-table_2.11-1.4.2.jar
flink-1.4.2/lib/flink-shaded-hadoop2-uber-1.4.2.jar
flink-1.4.2/opt/flink-ml_2.11-1.4.2.jar
flink-1.4.2/lib/flink-python_2.11-1.4.2.jar
flink-1.4.2/opt/flink-queryable-state-runtime_2.11-1.4.2.jar
flink-1.4.2/log/flink-callumvandenhoek-client-Callums-MacBook-Pro.local.log
flink-1.4.2/opt/flink-s3-fs-hadoop-1.4.2.jar
flink-1.4.2/lib/flink-dist_2.11-1.4.2.jar
flink-1.4.2/opt/flink-s3-fs-presto-1.4.2.jar
flink-1.4.2/output3.jar
flink-1.4.2/README.txt
flink-1.4.2/tools/planVisualizer.html
.DS_Store
.DS_Store
submition/.DS_Store
